@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin-inline: 200px; */
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 47px; */
    color: #151414;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #005FAC;
    padding: 20px 25px;
    background: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

/* header styles  */
header {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.header-right-content {
    max-width: 550px;
    margin-left: auto;
    padding-block: 216px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.header-right-content .header-btn {
    text-align: right;
}