@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin-inline: 200px; */
}

section {
    margin-top: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 47px; */
    color: #151414;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #005FAC;
    padding: 18px 26px;
    background: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

/* header styles  */
header {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.header-right-content {
    max-width: 550px;
    margin-left: auto;
    padding-block: 216px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.header-right-content .header-btn {
    text-align: right;
}

/*  previous year styles  */
.previous-year {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    padding-inline: 50px;
    /* border: 1px solid red; */
}

.previous-year .section-title {
    margin-bottom: 24px;
}

.previous-year .section-description {
    margin-bottom: 16px;
}

.failures-item div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.failures-item i {
    color: #10e48c;
}

.failures-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* plans section styles  */
.plans .section-title {
    text-align: center;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.plans-container div {
    text-align: center;
}

.plans-container-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 20px;
    text-align: center;
}

.plans-container-subtitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    margin-top: 10px;
}

/* positive mindset section styles  */

.positive-mindset {
    background-image: url('../images/watch.png'), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    padding: 60px 64px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 8px;
}

.positive-mindset-content .section-title {
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* bonus section styles  */
.bonus-section .section-title,
.bonus-section .section-description {
    text-align: center;
}

.bonus-section .section-description {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 50px;
}

.design-dev-container {
    display: flex;
    gap: 40px;
}

.design-dev-title {
    font-size: 22px;
    margin-bottom: 16px;
}

.design-dev-content div {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;
}

.design-dev-content div i {
    color: #10e48c;
}

/* footer styles */
footer {
    margin-top: 130px;
    background: #151414;
    padding: 130px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left-segment-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-left-segment p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 490px;
}

.footer-left-segment .contact-details {
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer-left-segment .contact-details p {
    margin-bottom: 16px;
}

.footer-left-segment-icons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.footer-right-segment-title {
    font-weight: 600;
    font-size: 25px;
    /* line-height: 29px; */
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer-right-segment input {
    margin-bottom: 40px;
    background: transparent;
    font-size: 18px;
    color: #F3F3F3;
    padding: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.footer-btn a {
    background-color: #005fac;
    color: #fff;
}